*,
*::before, 
*::after{
    box-sizing: border-box;
}

*{
    margin: 0; 
}


@font-face{
    font-family: "NotoSans-Regular";
    src: url(./assets/fonts/static/NotoSans-Regular.ttf)
}

@font-face{
    font-family: "NotoSans-Medium";
    src: url(./assets/fonts/static/NotoSans-Medium.ttf)
}

@font-face {
    font-family: "NotoSans-Bold";
    src: url(./assets/fonts/static/NotoSans-Bold.ttf); 
}
:root{
    color-scheme: light dark;
    
    --clr-neutral-900: hsl(227, 75%, 14%); 
    --clr-neutral-800: hsl(226, 25%, 17%);  
    --clr-neutral-700: hsl(225, 23%, 24%);
    --clr-neutral-600: hsl(226, 11%, 37%);
    --clr-neutral-300: hsl(0, 0%, 78%);
    --clr-neutral-200: hsl(217, 61%, 90%);
    --clr-neutral-100: hsl(0, 0%, 93%);
    --clr-neutral-0: hsl(200, 60%, 99%);
    
    --clr-red-700: hsl(3, 86%, 64%) ; 
    --clr-red-500: hsl(3, 71%, 56%); 
    --clr-red-400: hsl(3, 77%, 44%); 
    

    --primary-background: light-dark(#EEF8F9, #091540); 
    --secondary-background: light-dark(var(--clr-neutral-0), var(--clr-neutral-800)); 

    --bg-toggle-switch: light-dark(var(--clr-neutral-100), var(--clr-neutral-600));

    --clr-text: light-dark(var(--clr-neutral-600), var(--clr-neutral-300));

    --fs-100: 1rem;
}


:root{
    &:has(.toggle-color-scheme[data-color="light"]){
        color-scheme: light;
        header, .extension-item, menu li button, .extension-controls button{
            box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, var(--clr-neutral-300) 0px 0px 0px 1px; 
        }
    }

    &:has(.toggle-color-scheme[data-color="dark"]){
        color-scheme: dark;
        header, .extension-item, menu li button, .extension-controls button{
            box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
        }
    }
    
}

body{
    min-height: 100dvh;
    font-family: "NotoSans-Regular", sans-serif;
    font-optical-sizing: auto;
    font-size: var(--fs-100);
    
    background-color: var(--primary-background);
    transition: background-color 0.5s; 
}

header, main{
    max-width: 60rem;
    margin-inline: auto;
}

@media (max-width: 30rem){
    header, main{
        margin-inline: 1rem;
    }
}

header{
    margin-block-start: 2rem; 
    padding-block: 0.4rem; 
    padding-inline: 0.4rem;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-background); 
    border-radius: 1rem;
}

.extension-list__nav{
    margin-block: 2rem;
}

.extension-list__nav h1{
    text-align: center;
    margin-block-end: 1rem;
}

img{
    max-inline-size: 100%;
    block-size: auto; 
}

menu{
    list-style-type: none;
    padding: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;   
}

menu li button{
    background-color: transparent;
    border: 0;
    border-radius: 20px;
    background-color: var(--secondary-background);
    padding-block: 0.5rem;
    padding-inline: 1.3rem;
    font-size: 0.975rem; 
    font-family: "NotoSans-Medium";
}

button:hover{
    cursor: pointer;
}

.extension-list{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.8rem; 
}

.toggle-color-scheme{
    display: flex; 
    justify-content: center;
    align-items: center; 
    border: 0; 
    border-radius: 10px;
    background-color: var(--bg-toggle-switch);
    width: 3rem; 
    height: 3rem;
}

.extension-item{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-background);
    border-radius: 1rem;
    height: 12rem;
    transition: background-color 0.5s; 
    padding: 1rem; 
}

.extension-description{
    display: flex;
    align-items: start;
    gap: 1rem; 
}

.extension-text p{
    color: var(--clr-text);
    transition: color 0.5s; 
    padding-block-start: 0.5rem; 
}

.extension-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extension-controls button{
    background-color: transparent;
    font-family: "NotoSans-Medium", sans-serif;
    border: 0; 
    border-radius: 20px;
    width: 5rem;
    height: 2rem;
}

.switch{
    position: relative; 
    display: inline-block; 
    width: 40px; 
    height: 20px;
}

.switch input{
    opacity: 0; 
    width: 0; 
    height: 0;
}

.slider{
    position: absolute; 
    cursor: pointer;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: var(--bg-toggle-switch);
    -webkit-transition: background-color .4s;
    transition: background-color .4s; 
}

.slider:before{
    position: absolute; 
    content: ""; 
    height: 17px;
    width: 17px;
    left: 2px;
    bottom: 2px; 
    background-color: var(--clr-neutral-0);
    -webkit-transition: .4s;
    transition: .4s; 
}

input:checked + .slider{
    background-color: var(--clr-red-400);
}

/* acs */
input:focus-visible + .slider{
    outline: 2px solid var(--clr-red-400);
    outline-offset: 2px;
}

input:checked + .slider:before{
    --x: 19px; 
    -webkit-transform: translateX(var(--x)); 
    -ms-transform: translateX(var(--x));
    transform: translateX(var(--x));
}

.slider.round{
    border-radius: 35px;
}

.slider.round::before{
    border-radius: 50%;
}

.sr-only{
    position: absolute;
    visibility: hidden;
}

